:root {
    --color-navbar: #132D46;
    --color-primaria: #153764;
    --color-text-white: #fff;
    --color-text-black: #000000;
    --color-borda-white: #fff;
    --color-borda-black: #000000;
}
nav {
    display: flex;
    background-color: var(--color-navbar);
    width: 100%;
    justify-content: space-around;
}
a {
    color: var(--color-text-white);
    text-decoration: none;
    transition: 0.3s;
}
.navbar {
    width: 100%;
}
.LogoCompleta {
    margin-left: 25px !important;
}
.Name {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-right: 350px;
}

.LogoImg {
    width: 75px;
}

.navList {
    list-style: none;
    display: flex;
}

.navList li {
    letter-spacing: 3px;
    margin-left: 28px;
    padding: 10px;
    border-radius: 40px;
}

.navList li:hover {
    border: 1px solid var(--color-borda-white);
    ;
}

.navList li:active{                   
    background-color: var(--color-text-white);
    transform: scale(0.985);     
    transition: 0.25s;
    border: 1 px solid var(--color-primaria); 
}

.navList li:active a{
    color: var(--color-navbar);
}

